html, body {
    height: 100%;
}

body {
    background-color: white;
    color: #0A192F;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #0A192F;
    color: white;
    width: 100%;
}

.titulo {
    color: white;
    font-size: 35px;
    margin-top: -60px;
    text-align: center;
    justify-content: center;
}

.imgOg {
    margin: 10px;
    width: 70px;
    height: auto;
    border-radius: 50%;

}

.contentPrincipal {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 30rem;
    background-color: #808080;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 5px rgb(93, 86, 86);
}

.formulario h1{
    text-align: center;

}

.formulario button {
    border-style: none;
    background-color: aliceblue;
    height: 20px;
}

.formulario:hover {
    transform: scale(1.05);

}

.inputForm {
    background-color: white;
    color: black;
    border-color: #0A192F;
    border-radius: 3px;
    width: 300px;
    height: 100px;
}


footer {
    gap: 20px;
    background-color: #969696;
    height: 80px;
    text-align: center;
    align-items: center;
}

.footerInfo {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

